@import "bootstrap-sprockets";
@import "bootstrap";
@import "feed";
@import "welcome";
@import "posts";
@import "users";
@import "font-awesome";
@import "bootstrap-social";


#spinner-gif {
  width: 20px;
  height: 20px;
}

.generating-post {
  color: gray;
  font-size: 1.5em;
}

#spinner-gif-container {
  width: 100%;
  text-align: center;
}

.avatar-small {
  border-radius: 100%;
  height: 50px;
  margin-top: 15px;
}

.main-logo {
  height: 50px;
}

.first-nav {
  background-color: white;
  border: none;
  min-height: 90px;
 }


.second-nav {
  margin-top: -22px;
  background-color: #f1f1f1;
  border: none;
  min-height: 70px;
 }

 .navbar-static-bottom {
    margin: 0;
    width: 100%;
    border: none;
 }

 .full-width {
  width: 100%;
 }

#share-link-main-group {
  margin: 0 15px;
}

#second-nav-container {
  padding: 20px;
}

#cancel-post {
  position: absolute;
  top: 0;
  right: 0;
  color: gray;
  font-size: 2em;
  background-color: white;
  border-radius: 100%;
  border: 4px white solid;
}

 .flex {
  display: flex;
  align-items: center;
  justify-content: center;
 }

.modal-body.log-in {
  width: 100%;

}

.btn-social {
  font-size: 1.3em;
  margin: 20px;
}
