
.avatar-profile {
  width: 130px;
  border-radius: 100%;
}

.user-info {
  background-color: black;
  padding: 20px;

  border-radius: 5%;
}

.user-stats {
  background-color: blue;
  padding: 20px;
  border-radius: 5%;

}