
.avatar-profile {
  width: 130px;
  border-radius: 100%;
}

.user-info {
  background-color: #5bc0de;
  padding: 20px;
  height: 130px;
  color: white;
  font-size: 1.2em;
}

.user-stats {
  background-color: #337ab7;
  padding: 20px;
  height: 130px;
  color: white;
  font-size: 1.2em;
}